@import "tailwindcss";
@import 'react-tooltip/dist/react-tooltip.css';

body{
    /*background: oklch(0.178 0.036 270.056);*/
    background-color: #0a0a0a;
    /*background: linear-gradient(180deg, rgb(27, 48, 149) 0%, rgb(60, 26, 85) 76%);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card, .searchBar{
    /*background: oklch(0.209 0.041 268.133);*/
    background-color: #111010;
    border-radius: 16px;
    /*box-shadow: 0 4px 30px rgba(38, 38, 38, 0.1);*/
    backdrop-filter: blur(2.6px);
    -webkit-backdrop-filter: blur(2.6px);
    border: 1px solid rgba(14, 13, 13, 0.3);


}
hr{
    border: 1px solid rgba(154, 148, 148, 0.3);
}
::selection {
    background: #b3a66c;
    color: black; /* Optional: change text color for contrast */
}
